
/*------------------- Border box model------------------- */

 /*  @include border-box-sizing;  */    

/*------------------------ Mixins------------------------ */

@mixin cf {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
/*------------------ Variables, colors------------------ */
.red {color: #ce2c52;}
.line-through {text-decoration: line-through;}

/* Breakpoints */
$bp-small: 320px;
$bp-small-plus: 630px;
$bp-tablet: 835px;


/* All about ON and OFF blocks depending on Small, Medium or Large layout */

.s-out,.sm-out,.sl-out  {
  display: none;
}
   @media (min-width: $bp-small-plus) and (max-width: $bp-tablet){ 
 .s-out,.l-out,.sl-out {
  display: block;
 }
 .m-out,.sm-out,.ml-out {
  display: none;
 } } 

  @media (min-width: $bp-tablet) { 
  .s-out,.m-out,.sm-out {
 display: block;
}
.l-out,.sl-out,.ml-out {
 display: none !important;
} } 

/*---------------------- The end of ON and OFF blocks---------------------- */

