@import "add-ones"; 

li {
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #272727;
  background: #f6f6f6;
}
.wrapper {
  max-width: 835px;
  min-width: $bp-small;
  margin: 0 auto;
  @media (min-width: $bp-small-plus) {
    padding: 0 35px;
  }
   @media (min-width: $bp-tablet) {
    padding: 30px 50px;
  }
}
h2 {
  border: 1px solid red;
  font-size: 1rem;
  padding: 20px;
}  

/*--------------------------------------------- Item--------------------------------------------- */
.item-wrapper {
  overflow: hidden;
  h4.slogan {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px 40px 30px 40px;
    @media (min-width: $bp-small-plus){
      padding: 40px 40px 30px 0;
      & > br {display: none;}
    }
     @media (min-width: $bp-tablet){
      padding: 0 0 20px;
      margin-top: -7px;
    }
  }
   .social-row {
   width: 260px;
   margin: 30px 0;
 li {
  margin-right: 6px;
  display: inline-block;
   &:last-child {margin-right: 0;}
 }
} 
}

ul.social {
  li {
    a {
       display: block;
       background-image: url(../img/sprite.png);
       width: 43px;
       height: 44px;
    }
     a.fb {
       background-position: 0 -44px;
    }
     a.twit {
       background-position: -43px -44px;
    }
     a.pin {
       background-position: -86px 0;
    }
     a.you {
       background-position: 0 0;
    }
     a.ins {
       background-position: -43px 0;
    }
  }
}

.responsive {
  @media (min-width: $bp-small-plus){
    float: left;
    width: 52%;
  }
  position: relative;
  .social-column {
    position: absolute;
    top: 15px;
    left: 15px;
    margin-bottom: 10px;
    display: none;
    @media (min-width: $bp-small-plus) and (max-width: $bp-tablet){
      display: block;
    }
  }
}

.item-description-wrapper {
  width:320px;
  margin: 0 auto;
  @media (min-width: $bp-small-plus){
    float: right;
    width: 45%;
  }
  .item-num {
    color: #7d7f85;
    margin-top: 14px;
    @media (min-width: $bp-small-plus){
      margin-top: 0;
    }
  }
  .price-holder {
    font-size: 36px;
    color: #2c2f3d;
    margin: 0;
   /*  span {
     text-decoration: line-through;
     &:last-child {
       color: #ce2c52;
       text-decoration: none;
   }
   } */
  }
  h6.details, h6.size {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    }

  h6.details {margin: 20px 0 0;}
  h6.size {
    text-align: center;
    margin: 45px 0 18px;
    padding: 1px;
    @media (min-width: $bp-small-plus){text-align: left;}
}

  button {
    background: #89e5cf;
    padding: 20px 0;
    border-radius: 129px;
    margin: 0 auto;
    width: 280px;
    display: block;
    text-align: center;
    border: 0;
    color: #2c303d;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    @media (min-width: $bp-small-plus){
      margin: 0;
      width: 240px;
    }
  }
}
/* --Share block-- */
#share {
  display: none;
  @media (min-width: $bp-tablet){
    display: inline-block;
}
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  color: #2c87cd;
  cursor: pointer;
  position: relative;
  z-index: 5;
  #share-block {
  position: absolute;
  cursor: default;
  top: 35px;
  left: -93px;
  opacity: 0;  
  transition: opacity 1s;
  transform:translate(9999px);

  width: 290px;
  height: 105px;
  background: #fff;
  box-shadow: 0px -3px 4px -1px rgba(0,0,0,0.75);
  &:before {
    content: '';
    position: absolute;
    left: 120px;
    top: -6px;
    height: 15px;
    width: 15px;
    background: #fff;
    transform: rotate(-45deg);
    box-shadow: 3px -3px 4px -1px rgba(0,0,0,0.75);
  }
  .share-with {
    margin: 10px 15px;
  }
  #share-close {
    position: absolute;
    height: 17px;
    width: 17px;
    cursor: pointer;
    top: 15px;
    right: 15px;
    background-image: url(../img/sprite.png);
    background-position: -171px -42px;
  }
  .social-center{margin: 0 15px;}
}  
}
.show-block {
  opacity: 1 !important;
  transform:translate(0) !important; 
  transition: opacity 1s;
}
/* Star raiting */

 fieldset.stars {
    font-family: 'FontAwesome'; 
    border: none;
    display: inline-block;
    padding-left: 0;
    &:not(:checked) {
      & > input {
       display: none;
       clip: rect(0,0,0,0);
      }

      & > label {
        float: right;
        width: 1em;
        padding: 0 .05em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 15px;
        color: #ce2c52;
        
        &:before {
          content: '\f005  ';
           color: #ababab; 
        }
        
        &:hover,
        &:hover ~ label {
          &:before {
            content: '\f005  ';
            color: rgba(206, 44,  82, .7);
          }
        }
      }
    }
    
    & > input:checked {
      & ~ label {
        &:before {
          content: '\f005  ';
          color: #ce2c52;
        }
      }    
    }    

  }
/* Select Size */

  fieldset.sizes {
    margin: 25px auto;
    border: none;
    width: 240px; 
    padding: 0;
    h6.size-l {
      display: none;
    }
    @media (min-width: $bp-small-plus){
      margin: 0 0 20px;
    }
     @media(min-width: $bp-tablet) {
       width: 280px;
      h6.size-l {
        display: inline-block;
        text-transform: uppercase;
        vertical-align: top;
        margin: 10px 20px 0 0;
        font-size: 14px;
        font-weight: bold;
        }      
    }
    
    &:not(:checked) {
      > input {
        display: none;
        clip: rect(0,0,0,0);
      }

       label {
        display: inline-block;
        cursor: pointer;
        margin-right: 10px;
         &:last-child {
           margin: 0;
         }
        width: 42px;
        height: 42px;
        background-image: url(../img/sprite.png);
        width: 42px;
        height: 42px;
      }
    }
    input#size_L {
      & + label {background-position: -129px -42px;}
    }
     input#size_L:checked {
      & + label {
        background-position: -129px 0px;
      }    
    }  
    input#size_M {
      & + label {background-position: -86px -44px;}
    }
     input#size_M:checked {
      & + label {
        background-position: -84px -88px;
      }    
    } 
    input#size_S {
      & + label {background-position: -42px -88px;}
    }
     input#size_S:checked {
      & + label {
        background-position: 0 -88px;
      }    
    } 
    input#size_XS {
      & + label {background-position: -171px 0px;}
    }
     input#size_XS:checked {
      & + label {
        background-position: -126px -88px;
      }    
    }    
  }
  /* Size-input shock wave */
  @keyframes click-wave {
  0% {
    height: 42px;
    width: 42px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

  input.size-input:checked + label:after {
  animation: click-wave 0.65s;
  background: #000;
  content: '';
  border-radius: 50%;
  display: block;
}
  input.size-input:not(:checked) + label:after {
    animation: none;
  }

  /* Header above slideshow/gallery */
h6.like {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 90px 0 22px;
  @media (min-width: $bp-small-plus){
    margin: 63px 0 35px;
  }
  @media (min-width: $bp-tablet){
    text-align: left;
    margin: 70px 0 20px;
  }
}

/*--------------------------------------------- Slideshow--------------------------------------------- */
.cycle-slideshow {
 position: relative;
 width: 70%;
 margin: 0 auto;
  @media (min-width: $bp-small-plus) {
    display: none;
  }
}

.cycle-overlay {
        position: absolute;
        margin: 0;
        text-align: center;
        width: 100%;
        bottom: 0;
        z-index: 101;
        transition: bottom .5s;
        background: rgba(118, 192, 172,.7);
        font-size: 22px;
        font-weight: bold;
         &.price-down {
    bottom: -30px !important;
    transition: bottom .5s;
        }
        & > div:last-child {
          color: #ce2c52;
        } 
      }

.cycle-prev,.cycle-next  {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 101;
    top:50%;
    margin-top: -17px;
    &:before, &:after {
      content: "";
    background: #949494;
    height: 4px;
    position: absolute;
    left: 0;
    right: 0;
    }
  }
  .cycle-next {
    right: -35px;
    &:before {transform: rotate(-45deg); bottom: 6px;}
    &:after {transform: rotate(45deg); }
  }
  .cycle-prev {
    left: -35px;
    &:before {transform: rotate(45deg); bottom: 6px;}
    &:after {transform: rotate(-45deg); }
  }

  /* --------------------------------Gallery-------------------------------- */
  .gallery-wrapper {
    /* border: 1px solid green; */
    overflow: hidden;
    figure.responsive {
    position: relative;
    overflow:hidden;
     width: 47%;
     float: left;
      margin-bottom: 6%; 
       &:nth-child(2n+1){float: right;} 
       @media (min-width: $bp-tablet){
      width: 31.7%;
      margin-bottom: 2.5%;
      &:nth-child(2n+1){margin-right: 2.5%;}
      &:nth-child(3n+1){
        float: right;
        margin-right: 0;
    }
    } 
      h6.price {
        position: absolute;
        margin: 0;
        text-align: center;
        width: 100%;
        bottom: 3px;
        transition: bottom .5s;
        background: rgba(118, 192, 172,.7);
        font-size: 22px;
        font-weight: bold;
         &.slide-down {
    bottom: -26px !important;
    transition: bottom .5s;
        } 
        @media (min-width: $bp-tablet){
          padding: 0 12px; 
          font-size: 16px;
          bottom: 22px;
          background: #8ae6cf;
          right: 0;
          transition: right 1.5s;
         span {
          display: inline-block;
          margin-right: 13px;
          &:last-child{margin-right: 0;}
       }
          width: auto;
           &.slide-right {
                  bottom: 22px !important;
                  right: -100% !important;
                  transition: right 1.5s;
                } 
        }

      } 
     
      
    }
  }

 /*  Footer */
 footer {height: 40px;}






