/*---------------------- Susy Grid maps---------------------- */
/*------------------- Border box model------------------- */
/*  @include border-box-sizing;  */
/*------------------------ Mixins------------------------ */
/* Button-border styles */
/* @mixin button-border($color-and-border, $color-hover, $background-hover) {
font-family: "Helvetica";
font-size: 22px;
color: $color-and-border;
border: $color-and-border solid 3px;
text-align: center;
transition: all .7s;
display: block;
padding: 19px 0;
margin: 0 auto;
&:hover {
  transition: all .7s;
  color: $color-hover;
  background: $background-hover;
}
 &:active {
  transition: all .7s;
  color: #23ba85;
  background: #e7e7e7;
 }
} */
/* Button-menu styles */
/*------------------ Variables------------------ */
/* Breakpoints */
/* All about ON and OFF blocks depending on Small, Medium or Large layout */
.s-out, .sm-out, .sl-out {
  display: none; }

.ml-out, .l-out {
  display: block; }

@media (min-width: 500px) and (max-width: 765px) {
  .s-out, .l-out, .sl-out {
    display: block; }
  .m-out, .sm-out, .ml-out {
    display: none; } }

@media (min-width: 765px) {
  .s-out, .m-out, .sm-out {
    display: block; }
  .l-out, .sl-out, .ml-out {
    display: none; } }

/*---------------------- The end of ON and OFF blocks---------------------- */
li {
  list-style: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #272727;
  /* font-family: 'Oswald', sans-serif; */ }

.wrapper {
  max-width: 835px;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 500px) {
    .wrapper {
      padding: 0 35px; } }
  @media (min-width: 765px) {
    .wrapper {
      padding: 30px 50px; } }

h2 {
  border: 1px solid red;
  font-size: 1rem;
  padding: 20px; }

/*--------------------------------------------- Item--------------------------------------------- */
.item-wrapper {
  overflow: hidden;
  border: 1px solid green; }
  .item-wrapper h4.slogan {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px 40px 30px 40px; }
    @media (min-width: 500px) {
      .item-wrapper h4.slogan {
        padding: 40px 40px 30px 0; } }
    @media (min-width: 765px) {
      .item-wrapper h4.slogan {
        padding: 0 0 20px;
        margin-top: -9px; } }
  .item-wrapper .social-row {
    /* @media (min-width: $bp-small-plus){
     display: none;
   } */
    width: 235px; }
    .item-wrapper .social-row li {
      display: inline-block; }
      .item-wrapper .social-row li:last-child {
        margin-right: 0; }

ul.social li a {
  display: block;
  background-image: url(../img/sprite.png);
  width: 43px;
  height: 44px; }

ul.social li a.fb {
  background-position: 0 -44px; }

ul.social li a.twit {
  background-position: -43px -44px; }

ul.social li a.pin {
  background-position: -86px 0; }

ul.social li a.you {
  background-position: 0 0; }

ul.social li a.ins {
  background-position: -43px 0; }

.responsive {
  position: relative; }
  @media (min-width: 500px) {
    .responsive {
      float: left;
      width: 52%; } }
  .responsive .social-column {
    position: absolute;
    top: 15px;
    left: 15px;
    margin-bottom: 10px;
    display: none; }
    @media (min-width: 500px) and (max-width: 765px) {
      .responsive .social-column {
        display: block; } }

.item-description-wrapper {
  border: 1px solid red;
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 500px) {
    .item-description-wrapper {
      float: right;
      width: 45%; } }
  .item-description-wrapper .item-num {
    color: #7d7f85; }
  .item-description-wrapper .price-holder {
    font-size: 36px;
    color: #2c2f3d;
    margin: 15px 0; }
    .item-description-wrapper .price-holder span {
      text-decoration: line-through; }
      .item-description-wrapper .price-holder span:last-child {
        color: #ce2c52;
        text-decoration: none; }
  .item-description-wrapper h6.details, .item-description-wrapper h6.size {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; }
  .item-description-wrapper h6.details {
    margin: 20px 0 0; }
  .item-description-wrapper h6.size {
    text-align: center; }
    @media (min-width: 500px) {
      .item-description-wrapper h6.size {
        text-align: left; } }
  .item-description-wrapper button {
    background: #89e5cf;
    padding: 24px 70px;
    border-radius: 129px;
    margin: 0 auto;
    width: 80%;
    display: block;
    text-align: center;
    border: 0;
    color: #2c303d;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; }

/* --Share block-- */
#share {
  display: none;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  color: #2c87cd;
  cursor: pointer;
  position: relative;
  z-index: 5; }
  @media (min-width: 765px) {
    #share {
      display: inline-block; } }
  #share #share-block {
    position: absolute;
    cursor: default;
    top: 35px;
    left: -93px;
    border: 1px solid red;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    display: none;
    width: 290px;
    height: 105px;
    background: #fff;
    -webkit-box-shadow: 0px -3px 4px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -3px 4px -1px rgba(0, 0, 0, 0.75); }
    #share #share-block:before {
      content: '';
      position: absolute;
      left: 120px;
      top: -6px;
      height: 15px;
      width: 15px;
      background: #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-box-shadow: 3px -3px 4px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 3px -3px 4px -1px rgba(0, 0, 0, 0.75); }
    #share #share-block .social-center {
      margin: 0 auto; }

.show-block {
  opacity: 1 !important;
  display: block !important;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }

/* Star raiting */
fieldset.stars {
  font-family: 'FontAwesome';
  border: none;
  display: inline-block;
  padding-left: 0;
  /*  & > label:active {
     position: relative;
     top: 2px;
   } */ }
  fieldset.stars:not(:checked) > input {
    /*  position: absolute;
       top: -9999px; */
    display: none;
    clip: rect(0, 0, 0, 0); }
  fieldset.stars:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .05em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 15px;
    color: #ce2c52; }
    fieldset.stars:not(:checked) > label:before {
      content: '\f005  ';
      color: #ababab; }
    fieldset.stars:not(:checked) > label:hover:before,
    fieldset.stars:not(:checked) > label:hover ~ label:before {
      content: '\f005  ';
      color: rgba(206, 44, 82, 0.7); }
  fieldset.stars > input:checked ~ label:before {
    content: '\f005  ';
    color: #ce2c52; }

/* End of star raiting */
/*--------------------------------------------- Slideshow--------------------------------------------- */
.cycle-slideshow {
  z-index: 1;
  width: 225px;
  margin: 0 auto; }
  @media (min-width: 500px) {
    .cycle-slideshow {
      display: none; } }

.cycle-prev, .cycle-next {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  z-index: 101;
  top: 50%;
  margin-top: -17px; }
  .cycle-prev:before, .cycle-prev:after, .cycle-next:before, .cycle-next:after {
    content: "";
    background: #FF7D19;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0; }

.cycle-next {
  right: -10px; }
  .cycle-next:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 5px; }
  .cycle-next:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.cycle-prev {
  left: -10px; }
  .cycle-prev:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 5px; }
  .cycle-prev:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/*# sourceMappingURL=styles.css.map */
