/*------------------- Border box model------------------- */
/*  @include border-box-sizing;  */
/*------------------------ Mixins------------------------ */
/*------------------ Variables, colors------------------ */
.red {
  color: #ce2c52; }

.line-through {
  text-decoration: line-through; }

/* Breakpoints */
/* All about ON and OFF blocks depending on Small, Medium or Large layout */
.s-out, .sm-out, .sl-out {
  display: none; }

@media (min-width: 630px) and (max-width: 835px) {
  .s-out, .l-out, .sl-out {
    display: block; }
  .m-out, .sm-out, .ml-out {
    display: none; } }

@media (min-width: 835px) {
  .s-out, .m-out, .sm-out {
    display: block; }
  .l-out, .sl-out, .ml-out {
    display: none !important; } }

/*---------------------- The end of ON and OFF blocks---------------------- */
li {
  list-style: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #272727;
  background: #f6f6f6; }

.wrapper {
  max-width: 835px;
  min-width: 320px;
  margin: 0 auto;
  /* border: 1px solid red; */ }
  @media (min-width: 630px) {
    .wrapper {
      padding: 0 35px; } }
  @media (min-width: 835px) {
    .wrapper {
      padding: 30px 50px; } }

h2 {
  border: 1px solid red;
  font-size: 1rem;
  padding: 20px; }

/*--------------------------------------------- Item--------------------------------------------- */
.item-wrapper {
  overflow: hidden;
  /* border: 1px solid green; */ }
  .item-wrapper h4.slogan {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px 40px 30px 40px; }
    @media (min-width: 630px) {
      .item-wrapper h4.slogan {
        padding: 40px 40px 30px 0; } }
    @media (min-width: 835px) {
      .item-wrapper h4.slogan {
        padding: 0 0 20px;
        margin-top: -7px; } }
  .item-wrapper .social-row {
    width: 260px;
    margin: 30px 0; }
    .item-wrapper .social-row li {
      margin-right: 6px;
      display: inline-block; }
      .item-wrapper .social-row li:last-child {
        margin-right: 0; }

ul.social li a {
  display: block;
  background-image: url(../img/sprite.png);
  width: 43px;
  height: 44px; }

ul.social li a.fb {
  background-position: 0 -44px; }

ul.social li a.twit {
  background-position: -43px -44px; }

ul.social li a.pin {
  background-position: -86px 0; }

ul.social li a.you {
  background-position: 0 0; }

ul.social li a.ins {
  background-position: -43px 0; }

.responsive {
  position: relative; }
  @media (min-width: 630px) {
    .responsive {
      float: left;
      width: 52%; } }
  .responsive .social-column {
    position: absolute;
    top: 15px;
    left: 15px;
    margin-bottom: 10px;
    display: none; }
    @media (min-width: 630px) and (max-width: 835px) {
      .responsive .social-column {
        display: block; } }

.item-description-wrapper {
  /*  border: 1px solid red; */
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 630px) {
    .item-description-wrapper {
      float: right;
      width: 45%; } }
  .item-description-wrapper .item-num {
    color: #7d7f85;
    margin-top: 14px; }
    @media (min-width: 630px) {
      .item-description-wrapper .item-num {
        margin-top: 0; } }
  .item-description-wrapper .price-holder {
    font-size: 36px;
    color: #2c2f3d;
    margin: 0;
    /*  span {
     text-decoration: line-through;
     &:last-child {
       color: #ce2c52;
       text-decoration: none;
   }
   } */ }
  .item-description-wrapper h6.details, .item-description-wrapper h6.size {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase; }
  .item-description-wrapper h6.details {
    margin: 20px 0 0; }
  .item-description-wrapper h6.size {
    text-align: center;
    margin: 45px 0 18px;
    padding: 1px; }
    @media (min-width: 630px) {
      .item-description-wrapper h6.size {
        text-align: left; } }
  .item-description-wrapper button {
    background: #89e5cf;
    padding: 20px 0;
    border-radius: 129px;
    margin: 0 auto;
    width: 280px;
    display: block;
    text-align: center;
    border: 0;
    color: #2c303d;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none; }
    @media (min-width: 630px) {
      .item-description-wrapper button {
        margin: 0;
        width: 240px; } }

/* --Share block-- */
#share {
  display: none;
  vertical-align: top;
  font-size: 18px;
  font-weight: bold;
  color: #2c87cd;
  cursor: pointer;
  position: relative;
  z-index: 5; }
  @media (min-width: 835px) {
    #share {
      display: inline-block; } }
  #share #share-block {
    position: absolute;
    cursor: default;
    top: 35px;
    left: -93px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transform: translate(9999px);
    transform: translate(9999px);
    width: 290px;
    height: 105px;
    background: #fff;
    -webkit-box-shadow: 0px -3px 4px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -3px 4px -1px rgba(0, 0, 0, 0.75); }
    #share #share-block:before {
      content: '';
      position: absolute;
      left: 120px;
      top: -6px;
      height: 15px;
      width: 15px;
      background: #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-box-shadow: 3px -3px 4px -1px rgba(0, 0, 0, 0.75);
      box-shadow: 3px -3px 4px -1px rgba(0, 0, 0, 0.75); }
    #share #share-block .share-with {
      margin: 10px 15px; }
    #share #share-block #share-close {
      position: absolute;
      height: 17px;
      width: 17px;
      cursor: pointer;
      top: 15px;
      right: 15px;
      background-image: url(../img/sprite.png);
      background-position: -171px -42px; }
    #share #share-block .social-center {
      margin: 0 15px; }

.show-block {
  opacity: 1 !important;
  -webkit-transform: translate(0) !important;
  transform: translate(0) !important;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }

/* Star raiting */
fieldset.stars {
  font-family: 'FontAwesome';
  border: none;
  display: inline-block;
  padding-left: 0; }
  fieldset.stars:not(:checked) > input {
    display: none;
    clip: rect(0, 0, 0, 0); }
  fieldset.stars:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .05em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 15px;
    color: #ce2c52; }
    fieldset.stars:not(:checked) > label:before {
      content: '\f005  ';
      color: #ababab; }
    fieldset.stars:not(:checked) > label:hover:before,
    fieldset.stars:not(:checked) > label:hover ~ label:before {
      content: '\f005  ';
      color: rgba(206, 44, 82, 0.7); }
  fieldset.stars > input:checked ~ label:before {
    content: '\f005  ';
    color: #ce2c52; }

/* Select Size */
fieldset.sizes {
  margin: 25px auto;
  border: none;
  width: 240px;
  padding: 0; }
  fieldset.sizes h6.size-l {
    display: none; }
  @media (min-width: 630px) {
    fieldset.sizes {
      margin: 0 0 20px; } }
  @media (min-width: 835px) {
    fieldset.sizes {
      width: 280px; }
      fieldset.sizes h6.size-l {
        display: inline-block;
        text-transform: uppercase;
        vertical-align: top;
        margin: 10px 20px 0 0;
        font-size: 14px;
        font-weight: bold; } }
  fieldset.sizes:not(:checked) > input {
    display: none;
    clip: rect(0, 0, 0, 0); }
  fieldset.sizes:not(:checked) label {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    background-image: url(../img/sprite.png);
    width: 42px;
    height: 42px; }
    fieldset.sizes:not(:checked) label:last-child {
      margin: 0; }
  fieldset.sizes input#size_L + label {
    background-position: -129px -42px; }
  fieldset.sizes input#size_L:checked + label {
    background-position: -129px 0px; }
  fieldset.sizes input#size_M + label {
    background-position: -86px -44px; }
  fieldset.sizes input#size_M:checked + label {
    background-position: -84px -88px; }
  fieldset.sizes input#size_S + label {
    background-position: -42px -88px; }
  fieldset.sizes input#size_S:checked + label {
    background-position: 0 -88px; }
  fieldset.sizes input#size_XS + label {
    background-position: -171px 0px; }
  fieldset.sizes input#size_XS:checked + label {
    background-position: -126px -88px; }

/* Size-input shock wave */
@-webkit-keyframes click-wave {
  0% {
    height: 42px;
    width: 42px;
    opacity: 0.35;
    position: relative; }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0; } }

@keyframes click-wave {
  0% {
    height: 42px;
    width: 42px;
    opacity: 0.35;
    position: relative; }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0; } }

input.size-input:checked + label:after {
  -webkit-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #000;
  content: '';
  border-radius: 50%;
  display: block; }

input.size-input:not(:checked) + label:after {
  -webkit-animation: none;
  animation: none; }

/* Header above slideshow/gallery */
h6.like {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 90px 0 22px; }
  @media (min-width: 630px) {
    h6.like {
      margin: 63px 0 35px; } }
  @media (min-width: 835px) {
    h6.like {
      text-align: left;
      margin: 70px 0 20px; } }

/*--------------------------------------------- Slideshow--------------------------------------------- */
.cycle-slideshow {
  position: relative;
  width: 70%;
  margin: 0 auto; }
  @media (min-width: 630px) {
    .cycle-slideshow {
      display: none; } }

.cycle-overlay {
  position: absolute;
  margin: 0;
  text-align: center;
  width: 100%;
  bottom: 0;
  z-index: 101;
  -webkit-transition: bottom .5s;
  transition: bottom .5s;
  background: rgba(118, 192, 172, 0.7);
  font-size: 22px;
  font-weight: bold; }
  .cycle-overlay.price-down {
    bottom: -30px !important;
    -webkit-transition: bottom .5s;
    transition: bottom .5s; }
  .cycle-overlay > div:last-child {
    color: #ce2c52; }

.cycle-prev, .cycle-next {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 101;
  top: 50%;
  margin-top: -17px; }
  .cycle-prev:before, .cycle-prev:after, .cycle-next:before, .cycle-next:after {
    content: "";
    background: #949494;
    height: 4px;
    position: absolute;
    left: 0;
    right: 0; }

.cycle-next {
  right: -35px; }
  .cycle-next:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 6px; }
  .cycle-next:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.cycle-prev {
  left: -35px; }
  .cycle-prev:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 6px; }
  .cycle-prev:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/* --------------------------------Gallery-------------------------------- */
.gallery-wrapper {
  /* border: 1px solid green; */
  overflow: hidden; }
  .gallery-wrapper figure.responsive {
    position: relative;
    overflow: hidden;
    width: 47%;
    float: left;
    margin-bottom: 6%; }
    .gallery-wrapper figure.responsive:nth-child(2n+1) {
      float: right; }
    @media (min-width: 835px) {
      .gallery-wrapper figure.responsive {
        width: 31.7%;
        margin-bottom: 2.5%; }
        .gallery-wrapper figure.responsive:nth-child(2n+1) {
          margin-right: 2.5%; }
        .gallery-wrapper figure.responsive:nth-child(3n+1) {
          float: right;
          margin-right: 0; } }
    .gallery-wrapper figure.responsive h6.price {
      position: absolute;
      margin: 0;
      text-align: center;
      width: 100%;
      bottom: 3px;
      -webkit-transition: bottom .5s;
      transition: bottom .5s;
      background: rgba(118, 192, 172, 0.7);
      font-size: 22px;
      font-weight: bold; }
      .gallery-wrapper figure.responsive h6.price.slide-down {
        bottom: -26px !important;
        -webkit-transition: bottom .5s;
        transition: bottom .5s; }
      @media (min-width: 835px) {
        .gallery-wrapper figure.responsive h6.price {
          padding: 0 12px;
          font-size: 16px;
          bottom: 22px;
          background: #8ae6cf;
          right: 0;
          -webkit-transition: right 1.5s;
          transition: right 1.5s;
          width: auto; }
          .gallery-wrapper figure.responsive h6.price span {
            display: inline-block;
            margin-right: 13px; }
            .gallery-wrapper figure.responsive h6.price span:last-child {
              margin-right: 0; }
          .gallery-wrapper figure.responsive h6.price.slide-right {
            bottom: 22px !important;
            right: -100% !important;
            -webkit-transition: right 1.5s;
            transition: right 1.5s; } }

/*  Footer */
footer {
  height: 40px; }

/*# sourceMappingURL=styles.css.map */
